#kepek img{
    width: 100%;
    
}
#kepek div{
    flex: 0 0 33%;
}

#kepek{
    display: flex;
    flex-flow: row wrap;
}


#info{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
